<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Здоровье</title>
      {% endif %}
      <link rel="shortcut icon" href="{{ url_for ('static', filename='images/logo.png') }}" type="image/x-icon">

    </head>
    <body>
      <div>
        <a href="/"><img src="{{ url_for ('static', filename='images/logo.png') }}" title = "YH" width="35"></a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        
        {% if  current_user.role == "client" %}
        <a href="{{ url_for('client', username=current_user.username) }}">Профиль</a>
        {% else %}
        <a href="{{ url_for('courier', username=current_user.username) }}">Профиль</a>
        {% endif %}
        {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </body>
</html>